---
name: {{NAME}}
description: {{PUSHY_DESCRIPTION_EXPLICIT_TRIGGER_CUES}}
{{#argument-hint}}argument-hint: "{{ARGUMENT_HINT}}"{{/argument-hint}}
---

# {{TITLE}}

## When to Invoke

{{TRIGGER_DESCRIPTION}}

## Workflow

{{IMPERATIVE_NUMBERED_STEPS_REFERENCING_SCRIPTS_AND_ASSETS}}

{{#has-scripts}}## Scripts

{{SCRIPT_REFERENCES}}{{/has-scripts}}

{{#has-references}}## References

{{REFERENCE_LIST}}{{/has-references}}

{{#has-assets}}## Assets

{{ASSET_LIST}}{{/has-assets}}
